$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../fonts/icons" !default;

$u_arrow-right: "\e913";
$u_map-marker-alt: "\e912";
$u_angle-right: "\e900";
$u_ban: "\e901";
$u_bars: "\e902";
$u_calender: "\e903";
$u_check: "\e904";
$u_file-bookmark-alt: "\e905";
$u_file-download: "\e906";
$u_gift: "\e907";
$u_heart: "\e908";
$u_map-marker-question: "\e909";
$u_multiply: "\e90a";
$u_percentage: "\e90b";
$u_play: "\e90c";
$u_pricetag-alt: "\e90d";
$u_shield-check: "\e90e";
$u_shield-exclamation: "\e90f";
$u_shutter-alt: "\e910";
$u_user-check: "\e911";

