extends template/main

block variables
    -var title = "Статья"
block content
    +breadcrumbs
    section.article
        .container.content
            .row.g-xl-30.g-20
                .col-xl-6
                    h1.fs-lg-30.fs-sm-20.fs-18.fw-bl.text-g Заголовок статьи или новости
                    p <a href="#">Разнообразный</a> и богатый опыт <a href="#">постоянный количественный рост</a> и сфера нашей активности способствует подготовки и реализации систем массового участия.
                    p Идейные соображения высшего порядка, а также постоянное информационно-пропагандистское обеспечение нашей деятельности представляет собой интересный эксперимент проверки системы обучения кадров, <b>соответствует насущным потребностям.</b>
                    p Равным образом новая модель организационной деятельности способствует подготовки и реализации позиций, занимаемых участниками в отношении поставленных задач.
                .col-xl-6.d-flex
                    .rounded-10.overflow-hidden.flex-grow-1
                        img(src="images/content/content-1.jpg", alt="Картинка для статьи").h-100
            div
                p Разнообразный и богатый опыт постоянный количественный рост и сфера нашей активности требуют определения и уточнения системы обучения кадров, соответствует насущным потребностям. Задача организации, в особенности же новая модель организационной деятельности способствует подготовки и реализации модели развития.
                p Не следует, однако забывать, что рамки и место обучения кадров требуют определения и уточнения форм развития. Равным образом постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет выполнять важные задания по разработке направлений прогрессивного развития.
            .bordered
                p С другой стороны рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Не следует, однако забывать, что рамки и место обучения кадров в значительной степени обуславливает создание системы обучения кадров, соответствует насущным потребностям.
            .row.g-xxl-40.g-md-20.g-10
                .col-md-6
                    ol
                        each val in ['Значимость этих проблем настолько очевидна.', 'Что сложившаяся структура организации требуют определения.',  'Позиций, занимаемых участниками в отношении поставленных задач.', 'Повседневная практика показывает, что новая модель.']
                            li= val
                .col-md-6
                    ul
                        each val in ['Значимость этих проблем настолько очевидна.', 'Что сложившаяся структура организации требуют определения.',  'Позиций, занимаемых участниками в отношении поставленных задач.', 'Повседневная практика показывает, что новая модель.']
                            li= val
            .row.g-xxl-40.g-md-20.g-10
                -for(let i = 0; i < 2; i++)
                    .col-6
                        .rounded-10.overflow-hidden
                            img(src="images/content/content-2.jpg", alt="Картинки для статьи")
            div
                p Разнообразный и богатый опыт постоянный количественный рост и сфера нашей активности требуют определения и уточнения системы обучения кадров, соответствует насущным потребностям. Задача организации, в особенности же новая модель организационной деятельности способствует подготовки и реализации модели развития.
                p Не следует, однако забывать, что рамки и место обучения кадров требуют определения и уточнения форм развития. Равным образом постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет выполнять важные задания по разработке направлений прогрессивного развития. С другой стороны рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Не следует, однако забывать, что рамки и место обучения кадров в значительной степени обуславливает создание системы обучения кадров, соответствует насущным потребностям.
                p Значимость этих проблем настолько очевидна, что сложившаяся структура организации требуют определения и уточнения позиций, занимаемых участниками в отношении поставленных задач. Повседневная практика показывает, что новая модель организационной деятельности способствует подготовки и реализации дальнейших направлений развития. Не следует, однако забывать, что реализация намеченных плановых заданий влечет за собой процесс внедрения и модернизации позиций, занимаемых участниками в отношении поставленных задач.